.modal-backdrop {
  display: grid;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  place-items: center;
  cursor: pointer;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);

  .modal-content-wrapper {
    overflow: auto;
    position: relative;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    color: #ffffff;
    background-color: #ffffff;
    cursor: default;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    ::-webkit-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    &.sm {
      max-height: 29rem;
      max-width: 29rem;
    }

    &.md {
      max-height: 55%;
      max-width: 40rem;
    }
  }
}